@charset "UTF-8";
@font-face {
  font-family: 'icosurf';
  src: url("fonts/icosurf.ttf?it6jp7") format("truetype"), url("fonts/icosurf.woff?it6jp7") format("woff"), url("fonts/icosurf.svg?it6jp7#icosurf") format("svg");
  font-weight: normal;
  font-style: normal; }
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icosurf' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ico-ssswind-calm:before {
  content: ""; }

.ico-ssswind-cool:before {
  content: ""; }

.ico-ssswind-direction:before {
  content: ""; }

.ico-ssswind-loose:before {
  content: ""; }

.ico-ssswind-moderate:before {
  content: ""; }

.ico-ssswave-left:before {
  content: ""; }

.ico-ssswave-multi:before {
  content: ""; }

.ico-ssswave-peak:before {
  content: ""; }

.ico-ssswave-right:before {
  content: ""; }

.ico-sssswell-big .path1:before {
  content: "";
  color: white; }

.ico-sssswell-big .path2:before {
  content: "";
  margin-left: -1em;
  color: #1c1b18; }

.ico-sssswell-big .path3:before {
  content: "";
  margin-left: -1em;
  color: #1c1b18; }

.ico-sssswell-big .path4:before {
  content: "";
  margin-left: -1em;
  color: white; }

.ico-sssswell-big .path5:before {
  content: "";
  margin-left: -1em;
  color: white; }

.ico-sssswell-big .path6:before {
  content: "";
  margin-left: -1em;
  color: white; }

.ico-sssswell-big .path7:before {
  content: "";
  margin-left: -1em;
  color: #1c1b18; }

.ico-sssswell-direction:before {
  content: ""; }

.ico-sssswell-enormuos .path1:before {
  content: "";
  color: #1c1b18; }

.ico-sssswell-enormuos .path2:before {
  content: "";
  margin-left: -1em;
  color: white; }

.ico-sssswell-enormuos .path3:before {
  content: "";
  margin-left: -1em;
  color: white; }

.ico-sssswell-enormuos .path4:before {
  content: "";
  margin-left: -1em;
  color: white; }

.ico-sssswell-enormuos .path5:before {
  content: "";
  margin-left: -1em;
  color: white; }

.ico-sssswell-enormuos .path6:before {
  content: "";
  margin-left: -1em;
  color: #1c1b18; }

.ico-sssswell-medium .path1:before {
  content: "";
  color: white; }

.ico-sssswell-medium .path2:before {
  content: "";
  margin-left: -1em;
  color: #1c1b18; }

.ico-sssswell-medium .path3:before {
  content: "";
  margin-left: -1em;
  color: white; }

.ico-sssswell-medium .path4:before {
  content: "";
  margin-left: -1em;
  color: #1c1b18; }

.ico-sssswell-monstrous:before {
  content: ""; }

.ico-sssswell-small .path1:before {
  content: "";
  color: white; }

.ico-sssswell-small .path2:before {
  content: "";
  margin-left: -1em;
  color: #1c1b18; }

.ico-sssswell-small .path3:before {
  content: "";
  margin-left: -1em;
  color: #1c1b18; }

.ico-sssrestaurant:before {
  content: ""; }

.ico-sssschool .path1:before {
  content: "";
  color: black; }

.ico-sssschool .path2:before {
  content: "";
  margin-left: -1.0048828125em;
  color: black; }

.ico-sssschool .path3:before {
  content: "";
  margin-left: -1.0048828125em;
  color: white; }

.ico-sssshoop:before {
  content: ""; }

.ico-ssssleeping:before {
  content: ""; }

.ico-sssdown .path1:before {
  content: "";
  color: rgba(15, 170, 218, 0.2); }

.ico-sssdown .path2:before {
  content: "";
  margin-left: -1em;
  color: rgba(15, 170, 218, 0.2); }

.ico-sssdown .path3:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssdown .path4:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssdown .path5:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssdowndown .path1:before {
  content: "";
  color: rgba(15, 170, 218, 0.4); }

.ico-sssdowndown .path2:before {
  content: "";
  margin-left: -1em;
  color: rgba(15, 170, 218, 0.4); }

.ico-sssdowndown .path3:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssdowndown .path4:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssdowndown .path5:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssdownup .path1:before {
  content: "";
  color: rgba(15, 170, 218, 0.4); }

.ico-sssdownup .path2:before {
  content: "";
  margin-left: -1em;
  color: rgba(15, 170, 218, 0.4); }

.ico-sssdownup .path3:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssdownup .path4:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssdownup .path5:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssmiddle .path1:before {
  content: "";
  color: rgba(15, 170, 218, 0.2); }

.ico-sssmiddle .path2:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssmiddle .path3:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssmiddle .path4:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssmiddle .path5:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssmiddledown .path1:before {
  content: "";
  color: #0faada; }

.ico-sssmiddledown .path2:before {
  content: "";
  margin-left: -1em;
  color: rgba(15, 170, 218, 0.2); }

.ico-sssmiddledown .path3:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssmiddledown .path4:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssmiddledown .path5:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssmiddledown .path6:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssmiddleup .path1:before {
  content: "";
  color: rgba(15, 170, 218, 0.4); }

.ico-sssmiddleup .path2:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssmiddleup .path3:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssmiddleup .path4:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssmiddleup .path5:before {
  content: "";
  margin-left: -1em;
  color: #0faada; }

.ico-sssup:before {
  content: ""; }

.ico-sssupdown:before {
  content: ""; }

.ico-sssup-up:before {
  content: ""; }

.ico-sssseabed-mix:before {
  content: ""; }

.ico-sssseabed-rockreef:before {
  content: ""; }

.ico-sssseabed-sand:before {
  content: ""; }

.ico-sssmarker-buoy:before {
  content: ""; }

.ico-sssmarker-photo .path1:before {
  content: "";
  color: #3c3c3c; }

.ico-sssmarker-photo .path2:before {
  content: "";
  margin-left: -0.625em;
  color: #3c3c3c; }

.ico-sssmarker-photo .path3:before {
  content: "";
  margin-left: -0.625em;
  color: white; }

.ico-sssmarker-photo .path4:before {
  content: "";
  margin-left: -0.625em;
  color: #3c3c3c; }

.ico-sssmarker-photo .path5:before {
  content: "";
  margin-left: -0.625em;
  color: #3c3c3c; }

.ico-sssmarker-photo .path6:before {
  content: "";
  margin-left: -0.625em;
  color: white; }

.ico-sssmarker-photo .path7:before {
  content: "";
  margin-left: -0.625em;
  color: #3c3c3c; }

.ico-sssmarker-photo .path8:before {
  content: "";
  margin-left: -0.625em;
  color: white; }

.ico-sssmarker-restaurant:before {
  content: ""; }

.ico-sssmarker-school .path1:before {
  content: "";
  color: #3c3c3c; }

.ico-sssmarker-school .path2:before {
  content: "";
  margin-left: -0.625em;
  color: #3c3c3c; }

.ico-sssmarker-school .path3:before {
  content: "";
  margin-left: -0.625em;
  color: #3c3c3c; }

.ico-sssmarker-school .path4:before {
  content: "";
  margin-left: -0.625em;
  color: white; }

.ico-sssmarker-shop:before {
  content: ""; }

.ico-sssmarker-sleeping:before {
  content: ""; }

.ico-sssmarker-spot:before {
  content: ""; }

.ico-sssavanced .path1:before {
  content: "";
  color: rgba(51, 51, 51, 0.39999); }

.ico-sssavanced .path2:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssavanced .path3:before {
  content: "";
  margin-left: -1em;
  color: rgba(51, 51, 51, 0.39999); }

.ico-sssavanced .path4:before {
  content: "";
  margin-left: -1em;
  color: rgba(51, 51, 51, 0.39999); }

.ico-sssavanced .path5:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssavanced .path6:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssavanced .path7:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssavanced .path8:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssavanced .path9:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssbegginer .path1:before {
  content: "";
  color: #333333; }

.ico-sssbegginer .path2:before {
  content: "";
  margin-left: -1em;
  color: rgba(51, 51, 51, 0.39999); }

.ico-sssbegginer .path3:before {
  content: "";
  margin-left: -1em;
  color: rgba(51, 51, 51, 0.39999); }

.ico-sssbegginer .path4:before {
  content: "";
  margin-left: -1em;
  color: rgba(51, 51, 51, 0.39999); }

.ico-sssbegginer .path5:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssbegginer .path6:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssbegginer .path7:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssbegginer .path8:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssbegginer .path9:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssexpert .path1:before {
  content: "";
  color: rgba(51, 51, 51, 0.39999); }

.ico-sssexpert .path2:before {
  content: "";
  margin-left: -1em;
  color: rgba(51, 51, 51, 0.39999); }

.ico-sssexpert .path3:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssexpert .path4:before {
  content: "";
  margin-left: -1em;
  color: rgba(51, 51, 51, 0.39999); }

.ico-sssexpert .path5:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssexpert .path6:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssexpert .path7:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssexpert .path8:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-sssexpert .path9:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-ssspro .path1:before {
  content: "";
  color: rgba(51, 51, 51, 0.39999); }

.ico-ssspro .path2:before {
  content: "";
  margin-left: -1em;
  color: rgba(51, 51, 51, 0.39999); }

.ico-ssspro .path3:before {
  content: "";
  margin-left: -1em;
  color: rgba(51, 51, 51, 0.39999); }

.ico-ssspro .path4:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-ssspro .path5:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-ssspro .path6:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-ssspro .path7:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-ssspro .path8:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-ssspro .path9:before {
  content: "";
  margin-left: -1em;
  color: #333333; }

.ico-ssschincheta:before {
  content: ""; }

.ico-sssemail:before {
  content: ""; }

.ico-sssfavorite:before {
  content: ""; }

.ico-sssmap:before {
  content: ""; }

.ico-ssstelephone:before {
  content: ""; }

.ico-sssthermometer:before {
  content: ""; }

.ico-sssuser:before {
  content: ""; }

.ico-sssweb:before {
  content: ""; }

.ico-sssworld:before {
  content: ""; }

/*# sourceMappingURL=style.css.map */
