$icomoon-font-path: "fonts" !default;

$ico-ssswind-calm: "\e900";
$ico-ssswind-cool: "\e901";
$ico-ssswind-direction: "\e902";
$ico-ssswind-loose: "\e903";
$ico-ssswind-moderate: "\e904";
$ico-ssswave-left: "\e905";
$ico-ssswave-multi: "\e906";
$ico-ssswave-peak: "\e907";
$ico-ssswave-right: "\e908";
$ico-sssswell-big-path1: "\e909";
$ico-sssswell-big-path2: "\e90a";
$ico-sssswell-big-path3: "\e90b";
$ico-sssswell-big-path4: "\e90c";
$ico-sssswell-big-path5: "\e90d";
$ico-sssswell-big-path6: "\e90e";
$ico-sssswell-big-path7: "\e90f";
$ico-sssswell-direction: "\e910";
$ico-sssswell-enormuos-path1: "\e911";
$ico-sssswell-enormuos-path2: "\e912";
$ico-sssswell-enormuos-path3: "\e913";
$ico-sssswell-enormuos-path4: "\e914";
$ico-sssswell-enormuos-path5: "\e915";
$ico-sssswell-enormuos-path6: "\e916";
$ico-sssswell-medium-path1: "\e917";
$ico-sssswell-medium-path2: "\e918";
$ico-sssswell-medium-path3: "\e919";
$ico-sssswell-medium-path4: "\e91a";
$ico-sssswell-monstrous: "\e91b";
$ico-sssswell-small-path1: "\e91c";
$ico-sssswell-small-path2: "\e91d";
$ico-sssswell-small-path3: "\e91e";
$ico-sssrestaurant: "\e91f";
$ico-sssschool-path1: "\e920";
$ico-sssschool-path2: "\e921";
$ico-sssschool-path3: "\e922";
$ico-sssshoop: "\e923";
$ico-ssssleeping: "\e924";
$ico-sssdown-path1: "\e925";
$ico-sssdown-path2: "\e926";
$ico-sssdown-path3: "\e927";
$ico-sssdown-path4: "\e928";
$ico-sssdown-path5: "\e929";
$ico-sssdowndown-path1: "\e92a";
$ico-sssdowndown-path2: "\e92b";
$ico-sssdowndown-path3: "\e92c";
$ico-sssdowndown-path4: "\e92d";
$ico-sssdowndown-path5: "\e92e";
$ico-sssdownup-path1: "\e92f";
$ico-sssdownup-path2: "\e930";
$ico-sssdownup-path3: "\e931";
$ico-sssdownup-path4: "\e932";
$ico-sssdownup-path5: "\e933";
$ico-sssmiddle-path1: "\e934";
$ico-sssmiddle-path2: "\e935";
$ico-sssmiddle-path3: "\e936";
$ico-sssmiddle-path4: "\e937";
$ico-sssmiddle-path5: "\e938";
$ico-sssmiddledown-path1: "\e939";
$ico-sssmiddledown-path2: "\e93a";
$ico-sssmiddledown-path3: "\e93b";
$ico-sssmiddledown-path4: "\e93c";
$ico-sssmiddledown-path5: "\e93d";
$ico-sssmiddledown-path6: "\e93e";
$ico-sssmiddleup-path1: "\e93f";
$ico-sssmiddleup-path2: "\e940";
$ico-sssmiddleup-path3: "\e941";
$ico-sssmiddleup-path4: "\e942";
$ico-sssmiddleup-path5: "\e943";
$ico-sssup: "\e944";
$ico-sssupdown: "\e945";
$ico-sssup-up: "\e946";
$ico-sssseabed-mix: "\e947";
$ico-sssseabed-rockreef: "\e948";
$ico-sssseabed-sand: "\e949";
$ico-sssmarker-buoy: "\e94a";
$ico-sssmarker-photo-path1: "\e94b";
$ico-sssmarker-photo-path2: "\e94c";
$ico-sssmarker-photo-path3: "\e94d";
$ico-sssmarker-photo-path4: "\e94e";
$ico-sssmarker-photo-path5: "\e94f";
$ico-sssmarker-photo-path6: "\e950";
$ico-sssmarker-photo-path7: "\e951";
$ico-sssmarker-photo-path8: "\e952";
$ico-sssmarker-restaurant: "\e953";
$ico-sssmarker-school-path1: "\e954";
$ico-sssmarker-school-path2: "\e955";
$ico-sssmarker-school-path3: "\e956";
$ico-sssmarker-school-path4: "\e957";
$ico-sssmarker-shop: "\e958";
$ico-sssmarker-sleeping: "\e959";
$ico-sssmarker-spot: "\e95a";
$ico-sssavanced-path1: "\e95b";
$ico-sssavanced-path2: "\e95c";
$ico-sssavanced-path3: "\e95d";
$ico-sssavanced-path4: "\e95e";
$ico-sssavanced-path5: "\e95f";
$ico-sssavanced-path6: "\e960";
$ico-sssavanced-path7: "\e961";
$ico-sssavanced-path8: "\e962";
$ico-sssavanced-path9: "\e963";
$ico-sssbegginer-path1: "\e964";
$ico-sssbegginer-path2: "\e965";
$ico-sssbegginer-path3: "\e966";
$ico-sssbegginer-path4: "\e967";
$ico-sssbegginer-path5: "\e968";
$ico-sssbegginer-path6: "\e969";
$ico-sssbegginer-path7: "\e96a";
$ico-sssbegginer-path8: "\e96b";
$ico-sssbegginer-path9: "\e96c";
$ico-sssexpert-path1: "\e96d";
$ico-sssexpert-path2: "\e96e";
$ico-sssexpert-path3: "\e96f";
$ico-sssexpert-path4: "\e970";
$ico-sssexpert-path5: "\e971";
$ico-sssexpert-path6: "\e972";
$ico-sssexpert-path7: "\e973";
$ico-sssexpert-path8: "\e974";
$ico-sssexpert-path9: "\e975";
$ico-ssspro-path1: "\e976";
$ico-ssspro-path2: "\e977";
$ico-ssspro-path3: "\e978";
$ico-ssspro-path4: "\e979";
$ico-ssspro-path5: "\e97a";
$ico-ssspro-path6: "\e97b";
$ico-ssspro-path7: "\e97c";
$ico-ssspro-path8: "\e97d";
$ico-ssspro-path9: "\e97e";
$ico-ssschincheta: "\e97f";
$ico-sssemail: "\e980";
$ico-sssfavorite: "\e981";
$ico-sssmap: "\e982";
$ico-ssstelephone: "\e983";
$ico-sssthermometer: "\e984";
$ico-sssuser: "\e985";
$ico-sssweb: "\e986";
$ico-sssworld: "\e987";

